body{
    margin: 0;
    background: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vb;
    
}
@font-face {
    font-family: "my";
    src: url(fonts/DIEDIEDI.TTF);
}
@font-face {
    font-family: "nemo";
    src: url(fonts/GrenzeGotisch-Bold.ttf);
}

.div{
    
    background-image: url(img/head.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    text-align: center;
    
    
    
}
.h1{
    
    color: red;
    font-family: "my";
    font-size: xx-large;
    margin-top: 40px;
    
}
.h2{
    font-family: "my";
    color: red;
    padding-top:100px ;
    font-size: xx-large;
    
}
.h3{
    font-family: "my";
    color: red;
    margin: auto;
    text-align: center;
    text-decoration: line-through;
    font-size: xx-large;
}
.text{
    font-family: "my";
    color: red; 
    font-size: x-large;
    
}
.box{
    outline: none;
    width: 200px;
    height: 50px;
    color: red;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(168, 38, 38);
    margin-left: 20px;
    caret-color: red;
    font-family: "nemo";
    font-size: large;
}


.box::placeholder{
    color: red;
    font-family: "my";
    font-size: x-large;
}
.button{
    background: none;
    border: none;
    color: red;
    font-family: "my";
    font-size: larger;
}
.story{
    
    margin-left: 20px;
    text-align: center;
    font-size: larger;
    font-family: "nemo";
    color: rgb(246, 82, 0);
}
